@page "{filter?}"
@model ServerSideModel
@{
    ViewData["Title"] = "Home page";
}

@*<form>
        GET /Buscar?filter=queso
        <input type="search" name="filter" value="" />
        <button type="submit">Search</button>
    </form>*@

<form method="post">
    <input asp-for="Filter" placeholder="Type filter here" />
    <button type="submit">Search</button>
</form>

@if (Model.Products.Count > 0)
{
    <table>
        <tbody>
            @foreach (var p in Model.Products)
            {
                <tr>
                    <td>@p.ProductId</td>
                    <td>@p.ProductName</td>
                    <td>@p.UnitPrice</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay resultados</p>
}