@page
@model WA30.Pages.ClientAjaxModel
@{
}

@* AJAX = Asyncronous JavaScript & XML. XmlHttpRequest, axios *@

<div class="container">

    <h2>Index</h2>

    <form>
        <input id="filter" placeholder="Type filter here" class="form-control" />
        <button id="bSearch" class="btn btn-primary">Search</button>
    </form>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>QuantityPerUnit</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Supplier</th>
            </tr>
        </thead>
        <tbody id="list">
        </tbody>
    </table>
    <div id="d1">123</div>
    <div id="d1">456</div>
</div>

<script src="~/lib/underscore.js/underscore.js"></script>

@*TagHelper*@
<environment include="Development">
    <script src="~/js/product.js"></script>
</environment>

<environment exclude="Development">
    <script src="~/js/product.min.js"></script>
</environment>